@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}

.dark {
  --color-bg-primary: #121212;
  --color-bg-secondary: black;
  --color-text-primary: #dad8d8;
  --color-text-secondary: #e0e0e0;
  --color-text-accent: #3482d4;
  --color-bg-input: #212121;
  --color-bg-button: #3482d4;
  --color-bg-buttonHover: #3171b6;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #fdfdfd;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
  --color-bg-buttonHover: #3882d1;
}
